<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{inscricao.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/inscricao/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{inscricao.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form th:action="@{/inscricoes/salvar}" th:object="${inscricao}"
				method="POST">

				<div th:replace="~{fragments/validacao::validacao}"></div>

				<input type="text" th:field="*{resultado}" id="resultado">
				<input type="text" th:field="*{profissional.usuario.name}" id="cpf_profissional">
				<input type="text" th:field="*{vaga.descricao}" id="nome_vaga">
				<input type="text" th:field="*{data_inscricao}" id="data_inscricao">

				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
