<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{empresa.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/empresas/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{empresa.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${empresa.id == null} ? @{/empresas/salvar} : @{/empresas/editar}"
				th:object="${empresa}" method="POST">

				<div class="form-group col-md-6">
					<label th:text="#{usuario.name.label}" for="usuario.name"></label> 
					<input type="text" class="form-control" id="usuario.nome" placeholder=Nome
						autofocus="autofocus" th:field="*{usuario.name}"
						th:classappend="${#fields.hasErrors('usuario.name')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{usuario.name}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.email.label}" for="usuario.email"></label> 
					<input type="text" class="form-control" id="usuario.email" placeholder=E-mail
						autofocus="autofocus" th:field="*{usuario.email}"
						th:classappend="${#fields.hasErrors('usuario.email')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{usuario.email}"></span>
					</div>
				</div>
			
				<div class="form-group col-md-6">
					<label th:text="#{empresa.cnpj.label}" for="cnpj"></label> 
					<input type="text" class="form-control" id="cnpj" autofocus="autofocus"
						th:field="*{cnpj}" placeholder="__.___.___/____-__"
						th:readonly="${empresa.id != null}"
						data-mask="00.000.000/0000-00" data-mask-reverse="true"
						th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{cnpj}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{empresa.cidade.label}" for="cidade"></label> 
					<input type="text" class="form-control" id="cidade" placeholder=Cidade
						autofocus="autofocus" th:field="*{cidade}"
						th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{cidade}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{empresa.descricao.label}" for="descricao"></label> 
					<input type="text" class="form-control" id="descricao" placeholder=Descrição
						autofocus="autofocus" th:field="*{descricao}"
						th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{descricao}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.password.label}" for="usuario.password"></label> 
					<input type="password" class="form-control" id="usuario.password"
						th:readonly="${empresa.id != null}"
						th:placeholder="#{usuario.password.label}" autofocus="autofocus"
						th:field="*{usuario.password}"
						th:classappend="${#fields.hasErrors('usuario.password')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{usuario.password}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.role.label}" for="usuario.role"></label> 
					<input type="text" class="form-control" id="usuario.role" placeholder=Papel
						autofocus="autofocus" th:field="*{usuario.role}"
						th:classappend="${#fields.hasErrors('usuario.role')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{usuario.role}"></span>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
