<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{profissional.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/profissionais/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{profissional.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="~{fragments/alert}"></div>

			<form
				th:action="${profissional.id == null} ? @{/profissionais/salvar} : @{/profissionais/editar}"
				th:object="${profissional}" method="POST">

				<div class="form-group col-md-6">
					<label th:text="#{usuario.name.label}" for="usuario.name"></label> 
					<input type="text" class="form-control" id="usuario.nome" placeholder=Nome
						autofocus="autofocus" th:field="*{usuario.name}"
						th:classappend="${#fields.hasErrors('usuario.name')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{usuario.name}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.email.label}" for="usuario.email"></label> 
					<input type="text" class="form-control" id="usuario.email" placeholder=E-mail
						autofocus="autofocus" th:field="*{usuario.email}"
						th:classappend="${#fields.hasErrors('usuario.email')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{usuario.email}"></span>
					</div>
				</div>
			
				<div class="form-group col-md-6">
					<label th:text="#{profissional.cpf.label}" for="cpf"></label> 
					<input type="text" class="form-control" id="cpf" autofocus="autofocus"
						th:field="*{cpf}" placeholder="___.___.___-__"
						th:readonly="${profissional.id != null}"
						data-mask="000.000.000-00" data-mask-reverse="true"
						th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{cpf}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{profissional.telefone.label}" for="telefone"></label> 
					<input type="text" class="form-control" id="telefone" placeholder="(__) _____-____"
						data-mask="(00) 00000-0000" data-mask-reverse="true"
						autofocus="autofocus" th:field="*{telefone}"
						th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{telefone}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{profissional.sexo.label}" for="sexo"></label> 
					<input type="text" class="form-control" id="sexo" placeholder=Sexo
						autofocus="autofocus" th:field="*{sexo}"
						th:classappend="${#fields.hasErrors('sexo')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{sexo}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{profissional.nasc.label}" for="nasc"></label> 
					<input type="text" class="form-control" id="nasc" placeholder="__/__/____"
						data-mask="00/00/0000" data-mask-reverse="true"
						autofocus="autofocus" th:field="*{nasc}"
						th:classappend="${#fields.hasErrors('nasc')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{nasc}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.password.label}" for="usuario.password"></label> 
					<input type="password" class="form-control" id="usuario.password"
						th:readonly="${profissional.id != null}"
						th:placeholder="#{usuario.password.label}" autofocus="autofocus"
						th:field="*{usuario.password}"
						th:classappend="${#fields.hasErrors('usuario.password')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{usuario.password}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.role.label}" for="usuario.role"></label> 
					<input type="text" class="form-control" id="usuario.role" placeholder=Papel
						autofocus="autofocus" th:field="*{usuario.role}"
						th:classappend="${#fields.hasErrors('usuario.role')} ? is-invalid" 
						th:readonly="${profissional.id != null}"
						/>
					
					<div class="invalid-feedback">
						<span th:errors="*{usuario.role}"></span>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
